@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: FontAwesome; }

.blockquote-one:before {
  content: '\f10d';
  font-size: 2.5em;
  color: grey;
  position: absolute;
  bottom: 40px;
  left: 50px;
  opacity: 0.3; }

.blockquote-one:after {
  content: '\f10e';
  font-size: 2.5em;
  color: grey;
  position: absolute;
  bottom: -110px;
  left: 260px;
  opacity: 0.3; }

.blockquote-two:before {
  content: '\f10d';
  font-size: 2.5em;
  color: grey;
  position: absolute;
  bottom: 40px;
  left: 366px;
  opacity: 0.3; }

.blockquote-two:after {
  content: '\f10e';
  font-size: 2.5em;
  color: grey;
  position: absolute;
  bottom: -95px;
  left: 575px;
  opacity: 0.3; }

.blockquote-three:before {
  content: '\f10d';
  font-size: 2.5em;
  color: grey;
  position: absolute;
  bottom: 40px;
  left: 998px;
  opacity: 0.3; }

.blockquote-three:after {
  content: '\f10e';
  font-size: 2.5em;
  color: grey;
  position: absolute;
  bottom: -95px;
  left: 1200px;
  opacity: 0.3; }

.app {
  margin: 10px 10px 10px 10px; }

.f-white {
  color: white; }

.fw-bold {
  font-weight: bold; }

.fs {
  font-style: italic; }

.fz-middle {
  font-size: 1.2em; }

.fz-2 {
  font-size: 2em; }

.fz-small {
  font-size: 0.9em; }

.fz-icon {
  font-size: 0.7em; }

.pos-center {
  text-align: center; }

.bg-grey {
  background-color: gainsboro; }

.bg-black {
  background-color: black; }

.bg-whitegrey {
  background-color: silver; }

.bg-white-container {
  background-color: white;
  opacity: 0.9;
  height: 50px; }

.code-bg {
  background-image: url(сode.png); }

.portfolio__user-head {
  display: flex;
  justify-content: center; }

.portfolio__user-avatar {
  width: 96%;
  max-width: 200px; }

.portfolio__user-avatar img {
  display: block;
  max-width: 100%;
  height: auto; }

.portfolio__user-about {
  display: flex;
  justify-content: center;
  width: 100%; }

.portfolio__user-about-info {
  padding: 20px 0 0 20px;
  width: 80%; }

.portfolio__user-about-location {
  padding-top: 7px; }

.portfolio__user-about-langue {
  padding-top: 20px; }

.portfolio__user-about-skills {
  padding-top: 15px; }

.portfolio__user-about-skills-text {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  margin: 0 5px 0 0; }

.portfolio__user-about-button {
  padding-top: 10px; }

.portfolio__user-print {
  width: 20%;
  margin: 5px -40px 0 0; }

.portfolio__user-print-button {
  height: 25px;
  width: 170px;
  border-radius: 15px; }

.portfolio__user-print-button-text {
  padding: 5px 5px 5px 15px;
  color: white;
  cursor: pointer; }

.portfolio__user-description {
  display: flex;
  flex-wrap: wrap; }

.portfolio__user-description-item {
  width: 20%;
  height: 244px;
  border: 1px solid gainsboro;
  flex-grow: 1; }

.portfolio__user-description-item-head {
  padding: 20px 20px 0 20px; }

.portfolio__user-description-item-content {
  padding: 10px 10px 10px 10px; }

.portfolio__user-description-item-first {
  height: 50%;
  border-bottom: 1px solid gainsboro; }

.portfolio__user-description-item-content:nth-child(2) {
  padding: 30px 0 0 0; }

.portfolio__user-description-item-sp {
  display: block; }

.portfolio__user-description-item-footer {
  text-align: right;
  padding: 20px; }

.input-field__input {
  width: 500px;
  height: 23px; }

.input-field_success {
  all: initial; }

.input-field__input + .input-field__success:before {
  content: '\f14a';
  cursor: pointer;
  margin: 0 5px 0 5px; }

.input-field__success + .input-field__cancel:before {
  content: '\f2d3';
  cursor: pointer; }

.input-field__success:before {
  content: '\f14a';
  cursor: pointer;
  margin: 0 0 0 5px; }
