

$white: white;
$black: black;
$gainsboro: gainsboro;
$grey: grey;
$whitegrey: silver;

@mixin item-about-user($padding-bottom) {
    padding-top: $padding-bottom;
}

body {
    margin: 0;
    padding: 0;
    font-family: FontAwesome;

}

.blockquote-one:before {
    content: '\f10d';
    font-size: 2.5em;
    color: $grey;
    position: absolute;
    bottom: 40px;
    left: 50px;
    opacity: 0.3;
}

.blockquote-one:after {
    content: '\f10e';
    font-size: 2.5em;
    color: $grey;
    position: absolute;
    bottom: -110px;
    left: 260px;
    opacity: 0.3;

}

.blockquote-two:before {
    content: '\f10d';
    font-size: 2.5em;
    color: grey;
    position: absolute;
    bottom: 40px;
    left: 366px;
    opacity: 0.3;
}

.blockquote-two:after {
    content: '\f10e';
    font-size: 2.5em;
    color: $grey;
    position: absolute;
    bottom: -95px;
    left: 575px;
    opacity: 0.3;

}

.blockquote-three:before {
    content: '\f10d';
    font-size: 2.5em;
    color: grey;
    position: absolute;
    bottom: 40px;
    left: 998px;
    opacity: 0.3;
}

.blockquote-three:after {
    content: '\f10e';
    font-size: 2.5em;
    color: $grey;
    position: absolute;
    bottom: -95px;
    left: 1200px;
    opacity: 0.3;

}


.app {
    margin: 10px 10px 10px 10px;
}
.f-white {
    color: $white;
}

.fw-bold {
    font-weight: bold;
}
.fs {
    font-style: italic;
}

.fz-middle {
    font-size: 1.2em;
}

.fz-2 {
    font-size: 2em;
}

.fz-small {
    font-size: 0.9em;
}

.fz-icon {
    font-size: 0.7em;
}

.pos-center {
    text-align: center;
}

.bg-grey {
    background-color: $gainsboro;
}

.bg-black {
    background-color: $black;
}

.bg-whitegrey {
    background-color: $whitegrey;
}

.bg-white-container {
    background-color: white;
    opacity: 0.9;
    height: 50px;
}

.code-bg {
    background-image: url(сode.png);
}

.portfolio {

    &__user-head {
        display: flex;
        justify-content: center;
    }

    &__user-avatar {
        width: 96%;
        max-width: 200px;
    }

    &__user-avatar img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__user-about {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__user-about-info {
        padding: 20px 0 0 20px;
        width: 80%;
    }

    // &__user-about-name {
        
    // }
    &__user-about-location {
        @include item-about-user(7px);
    }
    &__user-about-langue {
        @include item-about-user(20px);
    }
    &__user-about-skills {
        @include item-about-user(15px);
    }

    &__user-about-skills-text {
        display: inline-block;
        padding: 5px 5px 5px 5px;
        border-radius: 3px;
        margin: 0 5px 0 0;
    }

    &__user-about-button {
        @include item-about-user(10px);
    }

    &__user-print {
        width: 20%;
        margin: 5px -40px 0 0;
    }

    &__user-print-button {
        height: 25px;
        width: 170px;
        border-radius: 15px;
    }

    &__user-print-button-text {
        padding: 5px 5px 5px 15px;
        color: $white;
        cursor: pointer;
    }

    &__user-description {
        display: flex;
        flex-wrap: wrap;
    }

    &__user-description-item {
        width: 20%;
        height: 244px;
        border: 1px solid gainsboro;
        flex-grow: 1;
    }

    &__user-description-item-head {
        padding: 20px 20px 0 20px;
    }

    &__user-description-item-content {
        padding: 10px 10px 10px 10px;
    }

    &__user-description-item-first {
        height: 50%;
        border-bottom: 1px solid gainsboro;
    }

    &__user-description-item-content:nth-child(2) {
        padding: 30px 0 0 0; 
    } 

    &__user-description-item-sp {
        display: block;
    }

    &__user-description-item-footer {
        text-align: right;
        padding: 20px;
    }
}

.input-field {
    &__input {
        width: 500px;
        height: 23px;
    }

    &_success {
        all: initial;
    }

    &__input + &__success:before {
        content: '\f14a';
        cursor: pointer;
        margin: 0 5px 0 5px;
        
    }

    &__success + &__cancel:before {
        content: '\f2d3';
        cursor: pointer;
        
    }

}

.input-field__success:before {
    content: '\f14a';
    cursor: pointer;
    margin: 0 0 0 5px;
}